<form method = 'post' action = 'edit' id = 'send'>
	Поле 1 <input type  = 'text' name = 'field_1' value = '{{data[0][1]}}'></input><br>
	Поле 3 <input type  = 'text' name = 'field_2' value ='{{data[0][2]}}' ></input><br>
	Поле 2 <input type  = 'text' name = 'field_3' value =  '{{data[0][3]}}'></input><br>
	Поле 4 <input type  = 'text' name = 'field_4' value = '{{data[0][4]}}'></input><br>
	<input type ='hidden' name = 'field_id' value = '{{data[0][0]}}'>
	<a id='send'><input  type = 'submit'></a>
</form>